*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #eaeaea;
    overflow: hidden;
}

.cabecalho{
    align-items: center;
    display: flex;
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, blue, cyan);
}

.foto_cabecalho{
    width: 100px;
    height: 100px;
    margin-left: 15px;
}

.Alcateia_Foto{
    width: 100px;
    height: 100px;
}

.Nome{
    margin-left: 10px;
    font-size: 50px;
    color: black;
}

.caixa{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.link_s{
    color: white;
    text-decoration: none;
    user-select: none;
}

.link1{
    font-size: 20px;
    padding: 40px 40px;
    border-left: 1px solid rgb(99, 101, 106);
    border-right: 0px;
}

.link1:hover{
    cursor: pointer;
    background: linear-gradient(to right, blue, cyan);
    color: #f5f5f5;
}

.banner{
    border: 1px solid black;
    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #949494;
}

#slide{
    width: max-content;
}

.item{
    width: 100%;
    height: 600px;
    background-position: 50%, 50%;
    display: inline-block;
    background-size: cover;
    position: absolute;
    transition: 0.5s;
}

.item:nth-child(1){
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}

.tema{
    width: 300px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    font-family: system-ui;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.titulo{
    font-size: 60px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(0, 4, 255), rgb(0, 229, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: showcontent 1s ease-in-out 0.6 1 forwards;
    user-select: none;
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translateY(100px);
        filter: blur(20px);
    }to{
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.Banner_button{
    width: 100%;
    height:25%;
    position: absolute;
    bottom: 50px;
    text-align: center;
    user-select: none;
}

.s_button{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: gray;
    background-color: white;
    font-size: 25px;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid black;
    margin: 0 25px;
    transition: .5s;
    user-select: none;
}

.s_button:hover{
    cursor: pointer;
    background-color: rgb(196, 194, 194);
}

.texto{
    padding-top: 50px;
    margin-left: 3%;
    width: 94%;
    text-align: center;
}

.h2{
    text-indent: 50px;
    text-align: justify;
    font-weight: 300;
}

.lista{
    list-style: inside;
    text-align: justify;
}

.avaliacao{
    text-indent: 50px;
    text-align: justify;
}

.tempo{
    text-indent: 50px;
    text-align: justify;
}

.conclusao{
    text-indent: 50px;
    text-align: justify;
}

.barra_fim{
    margin-top: 50px;
    padding-left: 6%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    background: linear-gradient(to right, blue, cyan);
}

.fim{
    color: beige;
    font-size: 50px;
}

.br{
    user-select: none;
}

.fim_link{
    align-items: center;
}

.fim_l{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: auto;
    background-image: url('img/icons8-instagram-logo-94.png');
    background-repeat: no-repeat;
}

.box{
    width: 100%;
}

.atividades{
    margin-top: 20px;
    align-items: center;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
}

.texto_atv{
    width: 50%;
}

.texto_atv1{
    width: 50%;
    margin-left: 15%;
}

.foto_atv{
    margin-top: 20px;
    display: flex;
    margin-left: 30px;
}

.img_atv{
    box-shadow: 10px 10px 20px #949494;
    margin-left: 20px;
    width: 350px;
    height: 350px;
    user-select: none;
}

.img_atv1{
    box-shadow: 10px 10px 20px #949494;
    margin-left: 100px;
    width: 600px;
    height: 400px;
    user-select: none;
}

.foto_atv1{
    width: 100%;
    display: flex;
    padding-left: 10%;
}

.h3{
    text-align: justify;
    font-weight: 300;
    text-indent: 50px;
}

.grafico{
    width: 100%;
}

.graf{
    width: 100%;
    height: 700px;
    user-select: none;
}